<h2>Ingresar Carga</h2>
<button class="btn-solid add" (click)="abrirModal()" *ngIf="puedeInsertar()">
  <span>Nuevo Registro</span>
  <span class="material-symbols-outlined">add</span>
</button>
<div class="modal-backdrop" *ngIf="mostrarModal">
  <div class="modal">
    <div class="modal-header">
      <h3>Nuevo Registro</h3>
      <button class="cerrar-modal" (click)="cerrarModal()"><span class="material-symbols-outlined">close</span></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="guardarRegistro()">
        <div class="cont-form-nr">
          <div class="form-group" *ngFor="let campo of campos">
            <label>{{ campo.label }}:</label>
          
            <!-- Campos con valores predefinidos -->
            <select *ngIf="['MES','COM','STATUS','TIPO','SERVICIO','COND.'].includes(campo.key)"
                    [(ngModel)]="carga[campo.key]" [name]="campo.key">
              <option *ngFor="let valor of obtenerValoresPorCampo(campo.key)" [value]="valor">{{ valor }}</option>
            </select>
          
            <!-- Campo comentarios -->  
            <textarea *ngIf="campo.key === 'COMENTARIOS'"
                      [(ngModel)]="carga[campo.key]" [name]="campo.key"></textarea>
          
            <!-- Otros campos -->
            <input *ngIf="!['MES','COM','STATUS','TIPO','SERVICIO','COND.','COMENTARIOS'].includes(campo.key)"
                  [type]="campo.key.includes('FECHA') || campo.key === 'ATA' || campo.key === 'ATD' ? 'date' : (campo.key === 'FECHA_HORA_TRANSMISION' ? 'datetime-local' : 'text')"
                  [(ngModel)]="carga[campo.key]" [name]="campo.key" />
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
        <button class="btn-solid add" type="submit">
        <span>{{ modoEdicion ? 'Modificar' : 'Guardar' }}</span>
        <span class="material-symbols-outlined">save</span>
      </button>
      <button class="btn-solid close" type="button" (click)="cerrarModal()">
        <span>Cerrar</span>
        <span class="material-symbols-outlined">close</span>
      </button>
      </div>
  </div>
</div>
<hr>

<h2>Registros cargados</h2>
<div class="wrap-actions">
  <input type="text" [(ngModel)]="filtroTexto" placeholder="Buscar..." class="form-control mb-2 buscador" />
  <button class="btn-solid export" (click)="exportarDatosFiltradosCSV()">
    <span>Exportar Excel.CSV</span>
    <span class="material-symbols-outlined">download</span>
  </button>
</div>
<div class="cont-table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let campo of campos">{{ campo.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of registrosFiltradosPaginados()">
        <td *ngFor="let campo of campos">{{ reg[campo.key] }}</td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="paginaActual === 1">
      <a class="page-nav" (click)="paginaActual">Anterior</a>
    </li>
    <li class="page-item" *ngFor="let p of totalPaginas()" [class.active]="paginaActual === p">
      <a class="page-link" (click)="paginaActual = p">{{ p }}</a>
    </li>
    <li class="page-item" [class.disabled]="paginaActual === totalPaginas().length">
      <a class="page-nav" (click)="paginaActual">Siguiente</a>
    </li>
  </ul>
</nav>
  
