<h2>Ingresar Carga</h2>
<button class="btn-solid add" (click)="abrirModal()" *ngIf="puedeInsertar()">
  <span>Nuevo Registro</span>
  <span class="material-symbols-outlined">add</span>
</button>
<div class="modal-backdrop" *ngIf="mostrarModal">
  <div class="modal">
    <h3>Nuevo Registro</h3>
    <form (ngSubmit)="guardarRegistro()">
      <div class="cont-form-nr">
        <div class="form-group" *ngFor="let campo of campos">
          <label>{{ campo.label }}:</label>
          <input *ngIf="campo.key !== 'COMENTARIOS'"
                 [type]="campo.key.includes('FECHA') || campo.key === 'ATA' || campo.key === 'ATD' ? 'date' : (campo.key === 'FECHA_HORA_TRANSMISION' ? 'datetime-local' : 'text')"
                 [(ngModel)]="carga[campo.key]" [name]="campo.key" />
          <textarea *ngIf="campo.key === 'COMENTARIOS'"
                    [(ngModel)]="carga[campo.key]" [name]="campo.key"></textarea>
        </div>
      </div>

      <br>
      <button class="btn-solid add" type="submit">
        <span>{{ modoEdicion ? 'Modificar' : 'Guardar' }}</span>
        <span class="material-symbols-outlined">save</span>
      </button>
    </form>
  </div>
</div>
<hr>

<h2>Registros cargados</h2>
<input type="text" [(ngModel)]="filtroTexto" placeholder="Buscar..." class="form-control mb-2" />
<button class="btn-solid" (click)="exportarDatosFiltradosCSV()">
  <span>Exportar Excel.CSV</span>
  <span class="material-symbols-outlined">download</span>
</button>

<div class="cont-table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let campo of campos">{{ campo.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of registrosFiltradosPaginados()" style="cursor: pointer;">
        <td *ngFor="let campo of campos">{{ reg[campo.key] }}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="paginaActual === 1">
        <a class="page-link" (click)="paginaActual = paginaActual - 1">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let p of totalPaginas()" [class.active]="paginaActual === p">
        <a class="page-link" (click)="paginaActual = p">{{ p }}</a>
      </li>
      <li class="page-item" [class.disabled]="paginaActual === totalPaginas().length">
        <a class="page-link" (click)="paginaActual = paginaActual + 1">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>
