<h2>Lista Registros Existente</h2>
<h2>Registros cargados</h2>

<ng-container *ngIf="userProfile === 'Administrador'">
  <div class="modal-backdrop" *ngIf="mostrarModal">
    <div class="modal">
      <button class="cerrar-modal" (click)="cerrarModal()">
        <span class="material-symbols-outlined">close</span>
      </button>
      <h3>Editar Registro</h3>
      <form (ngSubmit)="guardarRegistro()">
        <div class="cont-form-nr">
          <div class="form-group" *ngFor="let campo of campos">
            <label>{{ campo.label }}:</label>
            <input *ngIf="campo.key !== 'COMENTARIOS'"
                   [type]="campo.key.includes('FECHA') || campo.key === 'ATA' || campo.key === 'ATD' ? 'date' : 'text'"
                   [(ngModel)]="carga[campo.key]" [name]="campo.key" />
            <textarea *ngIf="campo.key === 'COMENTARIOS'"
                      [(ngModel)]="carga[campo.key]" [name]="campo.key"></textarea>
          </div>
        </div>

        <div class="actions">
          <button class="btn-solid add" type="submit">
            <span>{{ modoEdicion ? 'Modificar' : 'Guardar' }}</span>
            <span class="material-symbols-outlined">save</span>
          </button>
          <button class="btn-solid close" type="button" (click)="cerrarModal()">
            <span>Cerrar</span>
            <span class="material-symbols-outlined">close</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="userProfile === 'Empresa'">
  <div class="modal-backdrop" *ngIf="mostrarModal">
    <div class="modal">
      <button class="cerrar-modal" (click)="cerrarModal()">
        <span class="material-symbols-outlined">close</span>
      </button>
      <h3>Detalle de Registro</h3>
      <div class="cont-form-nr">
        <div class="form-group" *ngFor="let campo of campos">
          <ng-container *ngIf="columnasVisibles[campo.key]">
            <label>{{ campo.label }}:</label>
            <span>{{ carga[campo.key] }}</span>
          </ng-container>
        </div>
      </div>
      <div class="actions">
        <button class="btn-solid close" type="button" (click)="cerrarModal()">
          <span>Cerrar</span>
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<div class="wrap-actions">
  <input type="text" [(ngModel)]="filtroTexto" placeholder="Buscar..." class="form-control mb-2 buscador" />
  <button class="btn-solid add" (click)="exportarDatosFiltradosCSV()">
    <span>Exportar Excel.CSV</span>
    <span class="material-symbols-outlined">download</span>
  </button>
</div>
<div class="cont-table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let campo of campos" [hidden]="!columnasVisibles[campo.key]">{{ campo.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of registrosFiltradosPaginados()"
          (click)="cargarEnFormulario(reg)"
          [class.clickable]="userProfile === 'Administrador' || userProfile === 'Empresa'">
        <td *ngFor="let campo of campos" [hidden]="!columnasVisibles[campo.key]">{{ reg[campo.key] }}</td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="paginaActual === 1">
      <a class="page-nav" (click)="paginaActual = paginaActual - 1" [class.disabled]="paginaActual === 1">Anterior</a>
<li class="page-item" *ngFor="let p of totalPaginas()" [class.active]="paginaActual === p">
      <a class="page-link" (click)="paginaActual = p">{{ p }}</a>
    </li>
    <li class="page-item" [class.disabled]="paginaActual === totalPaginas().length">
      <a class="page-nav" (click)="paginaActual = paginaActual + 1" [class.disabled]="paginaActual === totalPaginas().length">Siguiente</a>

    </li>
  </ul>
</nav>
