<div class="header">
  <img class="logo" src="../assets/img/logo-blp-w.png" alt="">
  <span>Sistema de Registro de Carga</span></div>
<div class="wrapper">
  <!-- Menú lateral -->
  <div class="sidebar">
    <nav>
      <h3>Menú</h3>
      <span class="profile">({{ userProfile }})</span>
      <ul>
        <li *ngIf="userProfile === 'Administrador' || userProfile === 'Operador' || userProfile === 'Aduana' || userProfile === 'Usuario'">
          <a routerLink="consultar-cargas" routerLinkActive="active">Consultar Cargas</a>
        </li>
        <li *ngIf="userProfile === 'Administrador' || userProfile === 'Operador'">
          <a routerLink="ingresar-cargas" routerLinkActive="active">Ingresar Cargas</a>
        </li>
      </ul>

      <button class="btn-solid ghost" (click)="logout()"><span>Logout</span><span class="material-symbols-outlined">logout</span></button>
    </nav>
  </div>

  <!-- Contenido principal -->
  <div class="content" style="flex: 1; padding: 20px; overflow: auto;">
    <!-- 🚀 Aquí se carga el contenido de IngresarCargasComponent o ConsultarCargasComponent -->
    <router-outlet></router-outlet>
  </div>

</div>
