<h2>Crear Usuario</h2>

<form (ngSubmit)="guardarUsuario()" #usuarioForm="ngForm">
  <div class="form-group">
    <label>Usuario</label>
    <input type="text" name="nombre_usuario" [(ngModel)]="usuario.nombre_usuario" required>
  </div>

  <div class="form-group">
    <label>Contraseña</label>
    <input type="password" name="contrasena" [(ngModel)]="usuario.contrasena" required minlength="6">
  </div>

  <div class="form-group">
    <label>Rol</label>
    <select name="rol" [(ngModel)]="usuario.rol" required>
      <option *ngFor="let perfil of perfiles" [value]="perfil.nombre">{{ perfil.nombre }}</option>
    </select>
  </div>

  <input type="hidden" name="empresa_id" [(ngModel)]="usuario.empresa_id"
  [required]="usuario.rol !== 'Administrador'" *ngIf="usuario.rol !== 'Administrador'">

  
  <button type="button" (click)="resetFormulario()">Cancelar</button>
  <button type="submit" [disabled]="usuarioForm.invalid">
    {{ usuario.id ? 'Actualizar' : 'Guardar' }}
  </button>
  
  
</form>


<p *ngIf="mensaje">{{ mensaje }}</p>
<h3>Usuarios con Empresa</h3>
<input type="text" [(ngModel)]="filtro" placeholder="Buscar usuario..." />


<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Usuario</th>
      <th>Rol</th>
      <th>Empresa ID</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuariosFiltrados">


      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nombre_usuario }}</td>
      <td>{{ usuario.contrasena }}</td>
      <td>{{ usuario.rol }}</td>
      <td>{{ usuario.empresa_id }}</td>
      <td>
        <button type="button" (click)="seleccionarUsuario(usuario); $event.stopPropagation()">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
